.countdown {
  & .cover__title__content {
    h2 {
      font-size: 4rem;
    }
  }

  &__item {
    display: inline-block;

    padding: 8px;

    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 4px;
    background: rgba(0, 0, 0, .6);

    span {
      display: block;

      min-width: 64px;
      padding: 16px;

      border: 1px solid rgba(0, 0, 0, .6);
      border-radius: 4px;
      background: rgba(0, 0, 0, .6);
    }

    small {
      font-size: 2rem;

      display: block;

      margin-top: 16px;
    }
  }

  &--outline {
    .countdown__item, .countdown__item span {
      border-color: map-get($colors, 'white');
      background: transparent;
    }
  }
}
