.cover {
    height: calc( 100% - #{$topnav-height} );
    overflow: scroll;

    @include media-query(lap-up) {
        height: calc( 100% - #{$topnav-height} - 64px );
    };

    @media (max-height: 400px) {
        height: calc( 100% - #{$topnav-height / 2} );
    }

    &__tile {
        background-size: cover;
        background-position: center;
        position: relative;

        height: 384px;
        box-sizing: border-box;
        padding: 16px;
        color: $white;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
        }

        &__box {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            border: 1px solid $primary-color;
            position: relative;

            &--primary {
                border: 1px solid $primary-color;
                a {
                    background: $primary-color
                }
            }

            &--secondary {
                border: 1px solid $secondary-color;
            }
        }
    }

    &--hidden {
        display: none;
    }
}
