.cover {
  margin-top: $navbar-height;

  &__tile {
    position: relative;

    box-sizing: border-box;
    height: calc(100vh - #{$navbar-height});
    padding: 32px;

    color: map-get($colors, 'white');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      background: rgba(0, 0, 0, .4);
    }

    &__box {
      position: relative;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      box-sizing: border-box;
      width: 100%;
      height: 100%;

      border: 1px solid map-get($colors, 'white');

      &--primary {
        border: 1px solid map-get($colors, 'primary');
      }

      &--secondary {
        border: 1px solid map-get($colors, 'secondary');
      }

      a {
        margin-top: 32px;
      }

      &__content {
        max-width: 1080px;
      }
    }

    &--hidden {
      display: none;
    }
  }
}
