.footer {
  border-top: 1px solid map-get($colors, 'fog');
  background: map-get($colors, 'white');

  &__left {
    text-align: center;

    @include media-query(tab-up) {
      text-align: left;

      &__logo {
        margin-left: 32px;
      }
    };

    &__logo {
      height: 48px;
      padding: 8px 0;
    }

    &__copyright {
      font-size: 1rem;

      display: inline-block;

      margin-left: 16px;
    }

    & > * {
      vertical-align: middle;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__right {
    text-align: center;

    @include media-query(tab-up) {
      text-align: right;

      a {
        &:last-of-type {
          margin-right: 32px;
        }
      }
    }

    p {
      line-height: 64px;

      display: inline-block;

      margin-right: 16px;
      margin-bottom: 0;
    }


    i {
      margin-left: 8px;

      color: map-get($colors, 'primary');

      &:hover {
        color: map-get($colors, 'secondary');
      }
    }
  }
}
