.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow-y: scroll;

  word-wrap: break-word;

  color: map-get($colors, 'white');
  background: lighten(map-get($colors, 'primary'), 40%);

  &__content {
    margin-top: $navbar-height + 96px;

    @include media-query(lap-up) {
      position: relative;
      top: 50%;

      margin-top: 0;

      transform: translateY(-50%);
    };
  }

  &__close {
    position: absolute;
    z-index: 1000;
    top: $navbar-height + 32px;
    right: 32px;

    cursor: pointer;
    transition: all .3s;

    color: map-get($colors, 'white');

    &:hover {
      color: map-get($colors, 'secondary');
    }
  }

  &--visible {
    display: block;
  }
}

.noscroll {
  overflow: hidden;
}
