<nav class="navbar navbar--fixed">
  {{!-- TODO: find a way to fix this inline styling --}}
  <a class="navbar__logo navbar__menu--left" style="height: 64px;">
    <img src="{{ strings.logo }}" alt="Logo" />
  </a>

  <ul class="navbar__logo navbar__menu--right">
    <a href="https://aterrae.com" target="_blank">
      by
      <img class="" src="https://aterrae-cdn.s3.amazonaws.com/aterrae/circle-dark.png" alt="Aterrae" />
    </a>
  </ul>
</nav>
