<nav class="topnav">
    <img class="topnav__logo" src="{{strings.logo}}" alt="Logo">
    <div class="topnav__right">
        <div>Made by </div>
        <a href="http://aterrae.com" target="_blank">
            <img class="topnav__logo topnav__logo--right" src="assets/img/aterrae.png" alt="Aterrae">
            <img class="topnav__logo topnav__logo--mobile" src="assets/img/aterrae-small.png" alt="Aterrae">
        </a>
    </div>
</nav>
