.topnav {
    position: relative;
    overflow: hidden;

    @media (max-height: 400px) {
        height: $topnav-height / 2;
    }

    &__right {
        div {
            display: inline-block;
            line-height: $topnav-height;

            @media (max-height: 400px) {
                line-height: $topnav-height / 2;
            }
        }
    }

    &__logo {
        margin-left: 16px;

        @media (max-height: 400px) {
            padding: $topnav-logo-padding / 2;
            height: $topnav-logo-height / 2;
        }

        &--right {
            display: none;
            float: right;
            margin-right: 16px;
            height: $topnav-logo-height;
            padding: $topnav-logo-padding;

            @media (max-height: 400px) {
                padding: $topnav-logo-padding / 2;
                height: $topnav-logo-height / 2;
            }

            @include media-query(tab-up) {
                display: block;
            };
        }

        &--mobile {
            float: right;
            margin-right: 16px;
            height: $topnav-height / 2;

            @include media-query(tab-up) {
                display: none;
            };
        }
    }

    a {
        color: #585551;
        font-size: 2rem;
    }
}
